<div class="container">
    <div class="row">
        <div class="col m6">
            <div class="row">
                <h5 id="nameTitle">
                    Karthik Sunkesula (CEO)
                </h5>
            </div>
            <div class="row">
                <p id="description">
                    Karthik is the co-founder and CEO at Euno. He develops and supports the corporate strategy and vision of the company as the
                    company grows to provide its users with the tools and network to focus and find form in today’s increasingly
                    information-driven world. Karthik graduated from The College of New Jersey (TCNJ) with a Bachelors of
                    Science in Economics.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <div class="row">
                    <h5 id="nameTitle">
                        Bunty Patel (CTO)
                    </h5>
                </div>
                <div class="row">
                    <p id="description">
                        Bunty is the co-founder and CTO at Euno. He manages both the research and development efforts and the technological methodology
                        of the company, and is committed to the art of creating a comprehensive platform based on innovation
                        and usability. Bunty graduated from Rutgers University with a Bachelors of Science in Electrical
                        and Computer Engineering.
                    </p>
                </div>
            </div>
        </div>
    </div>
