<section>
    <div class="container timeButtonContainer">
        <div class="row center-align">
            <p>
                <span class="logo tilt">e</span>
                <span class="logo">uno</span>
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <h1 class="center-align">
                {{Days}}d : {{Hours}}h : {{Minutes}}m : {{Seconds}}s
            </h1>
        </div>
        <div class="row">
            <p id="description">
                Euno helps you build and develop an interesting network of people
            </p>
        </div>
        <div class="row">
            <div class="center-align comingSoon">
                <p>
                    If you want to be kept in the loop, enter your email
                </p>
            </div>
        </div>
        <!--<div class="row">
            <div class="center-align">
                <a class="waves-effect waves-light btn signUpButton" (click)="openModal()">Want Updates?</a>
            </div>
        </div>-->
        <div class="row valign-wrapper">
            <div class="col s3"></div>
            <div class="input-field col s4">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <button class="btn waves-effect waves-light col s2 submitButton" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <div class="col s3"></div>

        </div>
        <div class="row">
            <div class="center-align">
                <a target="_blank" href="https://www.instagram.com/euno.me/" class="fa fa-instagram fa-3x socialMedia" aria-hidden="true"></a>
                <a target="_blank" href="https://www.facebook.com/ifyoudontknownoweuno" class="fa fa-facebook fa-3x socialMedia" aria-hidden="true"></a>
            </div>
        </div>
    </div>
</section>

<div class="modal signup-modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn-flat" (click)="closeModal()">Close</a>
        <a class="modal-action modal-close waves-effect waves-light btn-flat">Submit</a>
    </div>
</div>
