.signUpButton {
    font-size: xx-large;
    padding: 5px 50px 40px 50px;
    background: #1d1d1d;
}

.signUpButton:hover {
    background: #2c2a2a;
}

.timeButtonContainer {
    margin-bottom: 150px;
}

.tilt {
    -webkit-transform: rotate(-15deg);
    display: inline-block;
}

p {
    margin: 0px;
    font-size: small;
}

.submitButton {
    background-color: black;
}

.submitButton:hover {
    background-color: #2c2a2a;
}

.logo {
    font-weight: 300;
    font-size: 50px;
}

#description {
    text-align: center;
    font-size: large;
}

.socialMedia {
    color: black;
}

.socialMedia:hover {
    cursor: hand;
    color: #2c2a2a;
}

.signup-modal {
    /*background-image: url(../../images/LPJ.jpg);*/
}
