<div class="container">
    <div class="row aboutPage valign-wrapper">
        <div class="center-align">
            <div class="row">
                <p id="description">
                    Founded in May 2017, Euno is a social platform that allows individuals to build and develop an organizational network in
                    order to create and maintain structure within their lives.
                </p>
            </div>
            <div class="row">
                <p id="description">
                    Regardless of whether you need to take and share notes, or keep track of your schedule via a calendar and to-do list, Euno
                    empowers users with a versatile and user-friendly platform that satisfies such necessities. With this
                    organizational network and ease of access to interconnected tools, Euno is the most efficient way to
                    design your organizational framework and share with others.
                </p>
            </div>
        </div>
    </div>
